<header class="main-header">
    <div class="logo-container">
        <img src="./assets/images/logo.jpg" alt="logo" width="5%">
    </div>
    <nav class="navbar">
        <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="view-customer">Customers</a></li>
            <li><a routerLink="sales">Sales</a></li>
        </ul>
    </nav>
    <div class="search-container">
        <input type="text" placeholder="Search">
        <button type="submit">Search</button>
    </div>
</header>