<header class="main-header">
    <div class="logo-container">
        <img src="./assets/images/logo.jpg" alt="logo" width="5%">
    </div>
    <nav class="navbar">
        <ul>
            <li><a [routerLink]="ROUTES_APP.HOME">Home</a></li>
            <li><a [routerLink]="ROUTES_APP.CUSTOMERS">Customers</a></li>
            <li><a [routerLink]="ROUTES_APP.SALES">Sales</a></li>
            <li><a [routerLink]="ROUTES_APP.ABOUT">About</a></li>
            <li><a [routerLink]="ROUTES_APP.CONTACT">Contact</a></li>
            <li class="btn btn-outline-danger" (click)="logOut()"><b>Log Out</b></li>
        </ul>
    </nav>
    <div class="search-container">
        <input type="text" placeholder="Search">
        <button type="submit">Search</button>
    </div>
</header>